.wrapper{
    width: 100%;
    min-height: 200px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border: 2px solid #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    color: #000000;

}
.wrapper button{
    width: 200px;
    height: 40px;
    margin: 20px;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    align-self: flex-end;
    color: #000000;

}
.wrapper button:active{
    background-color: #D9D9D9;
    border: 2px solid #9B59B6;
}